.pickDifficulty {
  width: fit-content;
}

.pickDifficulty-selector {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2rem;
}

.pickDifficulty-tiles {
  justify-self: flex-end;
}

.pickDifficulty-tiles button {
  margin-left: 1rem;
}

.pickDifficulty-submission {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}
