.gameGrid {
  position: relative;
  justify-self: center;
  min-width: calc(100vw - 2rem) !important;
}

.gameGrid-row {
  position: relative;
  display: grid;
  min-width: 100% !important;
}

.gamegrid-col-count-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gamegrid-col-count-5 {
  grid-template-columns: repeat(5, 1fr);
}

.gamegrid-col-count-6 {
  grid-template-columns: repeat(6, 1fr);
}

.gamegrid-col-count-6 {
  grid-template-columns: repeat(7, 1fr);
}

.landing-body-bajaj-logo {
  position: absolute;
  filter: blur(10px) opacity(0.2);
  width: 100%;
  top: 50%;
  left: 0rem;
  transform: translateY(-50%);
}
