.landing {
  background: var(--white);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.landing-body {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 2rem;
  padding-top: 5rem !important;
  width: calc(100% - 4rem);
  min-height: calc(100vh - 9rem);
}

.landing-body-heading {
  margin: auto;
  color: var(--purple);
  /* margin-top: 7rem; */
}

.landing-blob {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30rem;
  height: 30rem;
  transform: translateX(15rem) translateY(15rem);
  border-radius: 50%;
  background: radial-gradient(var(--light-purple), var(--white));
}

.landing-glass {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--glass);
  min-height: calc(100vh - 8rem);
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  /* max-width: 50rem; */
}

@media (max-width: 1020px) {
  .landing-body {
    min-height: auto;
    padding: 1rem 1rem;
    margin: 0;
  }

  .landing-glass {
    grid-template-columns: auto;
    row-gap: 1rem;
    justify-content: center;
    min-height: auto;
  }

  .pickDifficulty {
    align-self: center;
    justify-self: center;
    grid-area: 1 / 1 / 1 / 1;
  }

  .attachKeybd-bottom {
    position: fixed;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
  }
}

@media (max-width: 500px) {
  /* .landing {
    display: flex;
    justify-content: center;
  } */

  .landing-body {
    padding: 1rem 0rem;
    /* padding-top: 7rem !important; */
    margin: 0;
    /* min-height: calc(100vh - 8rem); */
    width: 100%;
  }

  .landing-glass {
    grid-template-columns: auto;
    row-gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    margin: auto;
    background: transparent;
  }
}
