.landing {
  background: linear-gradient(130deg, var(--light-purple) 30%, var(--white));
  overflow: hidden;
}

.landing-body {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2rem;
  padding-top: 7rem !important;
  width: calc(100% - 4rem);
  min-height: calc(100vh - 9rem);
}

.landing-blob {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30rem;
  height: 30rem;
  transform: translateX(15rem) translateY(15rem);
  border-radius: 50%;
  background: radial-gradient(var(--light-purple), var(--white));
}

.landing-glass {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--glass);
  min-height: calc(100vh - 8rem);
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  background: linear-gradient(130deg, var(--glass) 30%, var(--light-purple));
}
