.letterBox {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--purple);
  font-weight: var(--bold);
  height: 4vh;
  /* width: 100%; */
  margin: 0.2rem;
  border-style: solid;
  border-color: var(--purple);
  border-radius: 5px;
}

.letterBox-current {
  background-color: var(--grey);
}

.letterBox-absent {
  color: var(--white);
  background-color: var(--silver);
}

.letterBox-correct {
  color: var(--white);
  background-color: var(--green);
}

.letterBox-alert {
  background-color: var(--yellow);
}

.letterBox-wrong {
  color: var(--white);
  background-color: var(--red);
}

@media (max-width: 1020px) {
  .letterBox {
    font-size: 0.8rem;
    /* height: 2rem;
    width: 2rem; */
  }
}

@media (max-width: 500px) {
  .letterBox {
    /* height: 1.5rem;
    width: 1.5rem; */
    border-width: 2px;
  }
}
