.key {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: var(--bold);
  padding: 1.5rem 0.5rem;
  border-radius: 5px;
  background-color: var(--purple);
  cursor: pointer;
}

.key-default {
  color: var(--white);
  background-color: var(--purple);
}

.key-notFound {
  color: var(--purple);
  background-color: var(--grey);
}

.key-found {
  color: var(--white);
  background-color: var(--green);
}

.key-close {
  color: var(--purple);
  background-color: var(--yellow);
}

@media (max-width: 350px) {
  .key {
    padding: 1rem 0.4rem;
  }
}
