.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 8rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  background-color: rgb(246, 246, 246);
  box-shadow: 0 0 10px -1px var(--grey);
  z-index: 3;
}

.navbar-title a {
  text-decoration: none;
}

.navbar-title h1 {
  color: var(--purple);
  font-size: 2rem;
  font-weight: var(--bold) !important;
  margin: 0;
}

.navbar-title img {
  height: 1.8rem;
  margin: 0;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-links ul {
  list-style-type: none;
  display: inline;
}

.navbar-links ul a {
  color: var(--purple);
  text-decoration: none !important;
}

.navbar-links ul a:hover {
  color: var(--purple);
}

.navbar-links ul span {
  display: none;
}

.navbar-links ul li {
  position: relative;
  display: inline;
  color: var(--purple);
  font-weight: var(--bold);
  margin-right: 2rem;
  cursor: pointer;
}

.navbar-links ul li::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-bottom: none;
  border-right: none;
  border-color: var(--purple);
  visibility: hidden;
  transition-duration: 0.4s;
}

.navbar-links ul li:hover::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  visibility: visible;
}

.navbar-links ul li::before {
  content: "";
  position: absolute;
  bottom: -5px;
  right: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-color: var(--purple);
  visibility: hidden;
  transition-duration: 0.4s;
}

.navbar-links ul li:hover::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  visibility: visible;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem 2rem;
    width: calc(100% - 4rem);
  }

  .navbar-title h1 {
    color: var(--purple);
    font-size: 1.5rem;
  }

  .navbar-links ul {
    margin: 0;
  }

  .navbar-links .button span {
    display: none;
  }
}

@media (max-width: 500px) {
  .navbar {
    padding: 1rem 1rem;
    width: calc(100% - 2rem);
  }
  .navbar-title h1 {
    color: var(--purple);
    font-size: 1.5rem;
  }

  .navbar-links ul li {
    display: none;
  }

  .navbar-links ul span {
    display: inline;
  }

  .navbar-links ul span img {
    height: 2rem;
    margin-right: 1.5rem;
  }
}
