.popup
{
  padding: 5px 5px 0px 5px;
}
.popupInfo {
  padding: 10px 20px;
}
.headerTitle {
  color: var(--purple);
  font-weight: var(--bold);
  margin: 0;
  margin-bottom: 10px;
  font-size: 35px;
  line-height: 38px;
  padding-right: 25px;
}
.contentContainer {
  padding: 0px 15px 10px 15px;
  margin-top: -20px;
  
}
.correctWord {
  font-weight: var(--semi-bold);
  font-size: 18px;
}

.correctWord span {
  color: var(--green);
}


@media screen and (max-width: 1024px) {
  .headerTitle {
    font-size: 33px;
  }
}

@media screen and (max-width: 428px) {
  .contentContainer {
    padding: 0px 10px 10px 10px;
  }
  .headerTitle {
    margin-left: -10px;
  }
}

.boldText
{
  font-weight: var(--semi-bold);
}
.customMargin
{
  margin-top:18px;
}