.popupInfo {
  padding: 10px 20px;
}
.headerTitle {
  color: var(--purple);
  font-weight: var(--bold);
  margin: 0;
  font-size: 35px;
  line-height: 38px;
}
.contentContainer {
  padding: 0px 15px 10px 15px;
  margin-top: -20px;
  
}
.correctWord {
  font-weight: var(--semi-bold);
  font-size: 18px;
}

.correctWord span {
  color: var(--green);
}

.meaning {
  font-weight: var(--medium);
  font-size: 18px;
  line-height: 20px;
}

.meaning span {
  font-weight: var(--semi-bold);
}
.profileContainer img {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding-top: 0;
}


.stats span {
  font-weight: var(--semi-bold);
}

.dialogBtn {
  display: inline-block;
  margin-left: 20px;
}
.guestScore {
  margin-top:-9px;
  font-size: 25px;
  font-weight: var(--semi-bold);
}
.guestScore span {
  color: var(--purple);
}

.btnContainer {
  margin-top: -22px;
  padding: 10px;
  margin-left: -29px;
}


@media screen and (max-width: 1024px) {
  .stats {
    margin-left: 0;
    margin-top: -29px;
  }
  .headerTitle {
    font-size: 33px;
  }
  .contentContainer {
    margin-top: -20px;
  }
  .guestScore {
    font-size: 22px;
  }
}

@media screen and (max-width: 428px) {
  .contentContainer {
    padding: 0px 10px 10px 10px;
  }
  .headerTitle {
    margin-left: -10px;
  }
  .btnContainer {
    margin-top: -24px;
    margin-left:-38px;
  }
}

@media screen and (max-width: 407px) {

}

.cube p
{
  display: inline-block;
  border: 1px solid var(--purple);
  margin-left:4px;
width: 10px;
}
