body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* Colours */
  --purple: #5c2d90;
  --green: #52b72e;
  --yellow: #f1d865;
  --red: #db5050;
  --light-purple: #f1e4ff;
  --lighter-purple: #f6eeff;
  --glass: #ffffff30;
  --white: #ffffff;
  --black: #2f2f2f;
  --grey: #d4d4d4;
  --silver: #919191;
  --disabled: #848484;

  /* Font Weights */
  --regular: 300;
  --medium: 400;
  --semi-bold: 600;
  --bold: 900;
}
